*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    appearance: none;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

html {
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;
}

h1 {
    font-size: calc(var(--16px) * 2);
    color: #ec2222;
}

h2 {
    font-size: var(--20px);
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

form {
    border: solid #e2e2e2 1px;
    border-radius: 8px;
    padding: 5px;
}

label {
    margin: 0px 5px;
}

input {
    border: solid #e2e2e2 1px;
    border-radius: 8px;
    resize: none;
    padding: 5px;
    margin: 0px 5px;
}


select {
    text-align: center;
    border-radius: 5px;
    border: solid #e2e2e2 1px;
    background-color: #242424;
}

img {
    margin-bottom: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 20px;
}

.nav-left {
    display: flex;
    flex-direction: row;
}

.nav-logo {
    height: calc(var(--16px) * 2);
    width: calc(var(--16px) * 2);
    margin: 5px 5px 5px 5px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topics-list{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.topic-link{
    padding: 0px 10px 0px 10px;
    color: white;
}

#sort-by-dropdown-select {
    padding: 0px 5px;
    margin-bottom: 10px;
}

.individual-article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45.0rem;
}

.individual-article-comments-section {
    border-top: 1px solid #747474;
    border-radius: 14px;
    margin-top: 30px;
    padding: 0px 5px 0px 5px;
}

.votes-card {
    background-color: #1a1a1a;
    border: solid #e2e2e2 1px;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    margin: 5px 5px 5px 5px;
    font-size: 1em;
    font-weight: 500;
}

.list-item-container {
    width: 45.9rem;
    border: 1px solid #747474;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 10px;
}

.user-list-item-container {
    width: 45.9rem;
    background-color: #747474;
    border: 1px solid red;
    border-radius: 14px;
    margin-bottom: 20px;
    padding: 10px;
}

.error {
    color: red;
}

.error-hidden {
    visibility: hidden;
    height: 0px;
}

.success {
    color: green;
}

.success-hidden {
    visibility: hidden;
    height: 0px;
}


@media only screen and (min-width: 51rem) {
    #root {
        width: 51rem;
    }

    .nav-bar {
        width: 51rem;
    }
}
